.sale_page{
    width: 100%;
    padding: 10vh 0;

    position: relative;
}

.sale_page_content{
    width: 95%;
    border-radius: 7px;
    margin: 10vh auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 33px;
    justify-content: space-between;
    flex-direction: row;
}

.sale_page_content article{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 1;
}


.sale_page_content aside{
    width: 25%;
    padding: 0 33px 33px;
    box-sizing: border-box;
    order: 2;
    margin-left: auto;
}



@media only screen and (max-width: 1460px) {
    .sale_page_content aside{
        padding: 0;
    }
}

@media only screen and (max-width: 1160px) {
    .sale_page_content {
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 1155px){
    .sale_page_content article{
        width: 65%;
    }


    .sale_page_content aside{
        width: 35%;
    }

}

@media only screen and (max-width: 850px){
    .sale_page_content{
        width: 95%;
        border-radius: 7px;
        margin: 10vh auto;
        display: flex;
        flex-wrap: wrap;
        padding: 33px;
        justify-content: center;
    }

    .sale_page_content article{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        order: 2;
        margin-top: 15vh;
    }


    .sale_page_content aside{
        width: 100%;
        padding: 0 33px 33px;
        box-sizing: border-box;
        order:1;
    }

}


@media only screen and (max-width: 450px){
    .sale_page_content{
        padding: 10px;
    }
    .sale_page_content aside{
        padding: 0;
    }

    .sale_page_content article{
        padding: 0;
    }
}