.house_card{
    width: 90%;
    height: 400px;
    background-color: white;
    margin-bottom: 5vh;
    border-radius: 7px;
    padding: 33px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    border:1px solid  rgb(223, 223, 223);
    flex-wrap: nowrap;
}

.house_card_image{
    height: 100%;
    width: 35%;
    background-position: center;
    background-size: cover;
}

.house_card_about{
    width: 65%;
    padding: 33px;
    box-sizing: border-box;
}

.house_card_about_price{
    display: flex;
    align-items: center;
    font-size: 30px;
}

.house_card_info {
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.house_card_main_text_part{
    display:flex;
    justify-content:space-between;
    margin:3vh 0;
}


.house_card_location_text{
    font-size:30px;
}

@media only screen and (max-width: 1410px) {
    .house_card_info{
        font-size:17px;
    }
}

@media only screen and (max-width: 1265px){

    .house_card_info{
        font-size:14px;
    }

    .house_card_about_price{
        font-size: 25px;
    }

    .house_card_location_text{
        font-size:25px;
    }
}

@media only screen and (max-width: 1155px){

    .house_card{
        flex-wrap: wrap;
        height: 700px;
    }

    .house_card_about{
        width: 100%;
    }


    .house_card_image{
        height: 50%;
        width: 100%;
    }

    .house_card_info{
        font-size:20px;
    }

}


@media only screen and (max-width: 1055px){
    .house_card_info{
        font-size:14px;
    }
}


@media only screen and (max-width: 630px){

    .house_card{
        height: 650px;
    }

    .house_card_info{
        font-size:10px;
    }

    .house_card_about_price{
        font-size: 20px;
    }

    .house_card_location_text{
        font-size:20px;
    }

    .house_card_just_text{
        font-size:13px;
    }

    .house_card_code_part{
        font-size:14px;
    }
}

@media only screen and (max-width: 550px){
    .house_card_main_text_part{
        flex-wrap: wrap;
    }
    .house_card_about{
        padding: 0;
    }

    .house_card{
        width: 100%;
        padding: 15px;
        height: 600px;
    }

    .house_card_info{
        font-size: 10px;
    }

    .house_card_image{
        height: 40%;
    }
}