.login_form{
    width: 280px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border: 1px solid rgb(189,189,189);
    padding: 23px;
    box-sizing: border-box;
    border-radius: 7px;
    justify-content: center;
}

.login_form input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(189,189,189);
    padding: 0 10px;
}


.login_form button{
    width: 100px;
    height: 40px;
    background-color: rgb(var(--text-color));
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    border:none;
}